<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/team"> View team </a>
</body>
</html>
<h1 style="text-align: center;">Hồ sơ đội bóng </h1>
    <h2 style="text-align: center;">Tên đội:  Hehehe    Sân nhà:   Hahaha   </h2>

    <table class="center" >
        <tr>
          <th>STT</th>
          <th>Cầu thủ</th>
          <th>Ngày sinh</th>
          <th>Loại cầu thủ</th>
          <th>Ghi chú</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Long Đẹp</td>
          <td>21/05/2001</td>
          <td>1</td>
          <td>Đẹp</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Đạt Íu</td>
            <td>02/02/2001</td>
            <td>1</td>
            <td>ÍU</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mama</td>
            <td>02/02/2001</td>
            <td>2</td>
            <td>Mama vô địch</td>
        </tr>
      </table>
