<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fixed table header</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="/viewPlayer.css">

  
</head>

<body>
  <section>
  <!--for demo wrap-->
  <h1>Đội bóng 3AE
    <div style="font-size: 12px;">Sân nhà: Sài Gòn</div>
  </h1>
  
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Cầu thủ</th>
          <th>Ngày sinh</th>
          <th>Loại cầu thủ</th>
          <th>Ghi chú</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>Long Đẹp</td>
          <td>21/05/2001</td>
          <td>1</td>
          <td>Đẹp</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Đạt Íu</td>
            <td>02/02/2001</td>
            <td>1</td>
            <td>ÍU</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mama</td>
            <td>02/02/2001</td>
            <td>2</td>
            <td>Mama vô địch</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
